extends layout

block content
	div#index-container
		div#index-container2
			div#top-listing-container
				h3.no-margin Top Listing
				if topListing
					div.top-listing#main-listing
						a(href='/listings/'+topListing.id)
							if topListing.picture
								img(width='293', height='220', src='../'+topListing.picture, style='float: left')
							else
								img(width='293', height='220', src='../images/no-image.png', style='float: left')
						a.top-listing-info(href='/listings/'+topListing.id)
							h4.title= topListing.title
							p.desc= topListing.description
							h4.price $#{topListing.price.toFixed(2)}
							
				else
					p There are currently no listings available. 
					if user
						a(href='/listings/create') Post yours now!
					else
						a(href='/register') Sign up to post a listing.
			
			div#welcome-container
				if user
					div.welcome#logged-in
						div.welcome-spacer
						if user.name
							h3 Welcome #{user.name}!
						else
							h3 Welcome #{user.email}!
						
						p What would you like to do?
						div.container-fluid
							div.col-md-6
								a(href='/search?q='+user.email class='btn btn-info fullwidth') My listings
							div.col-md-6
								a(href='/users/'+user.id class='btn btn-info fullwidth') My profile
							div.col-md-6
								a(href='/listings/create' class='btn btn-success fullwidth') New listing
							div.col-md-6
								a(href='/logout' class='btn btn-info fullwidth') Log out
						div.welcome-spacer
				
				else
					div.welcome#guest
						div.welcome-spacer
						h2 Welcome guest!
						p Click a button to log in or sign up.
						div.container-fluid
							div.col-md-6
								a(href='/login' class='btn btn-success fullwidth') Log In
							div.col-md-6
								a(href='/register' class='btn btn-success fullwidth') Register
						div.welcome-spacer
		
		section#listings
			h3 Recent Listings
			if recentListings.length > 0
				each listing in recentListings
					div.listing
						a(href='/listings/'+listing.id)
							if listing.picture
								img(width='174', height='130', src='../'+listing.picture)
							else
								img(width='174', height='130', src='../images/no-image.png')
						a.listing-info(href='/listings/'+listing.id)
							h4.title= listing.title
							p.desc= listing.description
							h4.price $#{listing.price.toFixed(2)}
			
			else
				p There are currently no listings posted!
			
