extends layout

block content
	div#listing-container
		div#listing-container2
			div#listing-pictures
				if listing.picture
					img(width='200', height='150', src='../'+listing.picture)
				else
					img(width='200', height='150', src='../images/no-image.png')
				
				div#other-pics-container
					img.other-pics(src='')
					img.other-pics(src='')
					img.other-pics(src='')
					img.other-pics(src='')
				
			div#listing-inset
			div#full-listing-info
				h2.no-margin #{listing.title}
				h4 <b>Price:</b> $#{price}
				p <b>Seller:</b> 
					a(href="/users/"+listing.poster) #{email}
				p <b>Location:</b> #{location}
				p <b>Listed on:</b> #{date}
				p <b>Number of hits:</b> #{listing.hits}
				p <b>Description:</b> #{listing.description}
		
		div#listing-buttons
			if user && user.id != listing.poster
				button#contact-seller(class="btn btn-default" onclick="toggleEdit();") Contact seller
			a#add-comment(href="#comments-section" class="btn btn-default" onclick="openCommentsBox();") Add comment
			if user && user.id == listing.poster
				a#edit-listing(href=listing.id+"/edit" class="btn btn-default") Edit listing
			if user && (user.id == listing.poster || user.admin)
				a#delete-listing(href=listing.id+"/delete" class="btn btn-default") Delete listing
		
		h3 Comments
		section#comments-section
			form#new-comment
				label(for='comment') Comment:
				textarea.form-control(rows='5', id='comment-input')
				button(class='btn btn-success', type='submit') Submit
				
			div.comment
				h4 some dude's name
				p the date
				p blahbalghaihoieioe ie f iojfeijoef ijsofjiisj fejsi ejios ijof eijesiijs oei
				
			div.comment
				h4 some dude's name
				p the date
				p blahbalghaihoieioe ie f iojfeijoef ijsofjiisj fejsi ejios ijof eijesiijs oei
		
		section#listings
			h3 Related Listings
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
	