extends layout

block content
	div#profile-container
		if success
			div#edit-success.alert.alert-success= success
		if error
			div#edit-error.alert.alert-danger= error
	
		div#profile-container2
			if profileUser.picture
				img(width='200', height='200', src='../'+profileUser.picture, style='float: left')
			else 
				img(width='200', height='200', src='../images/default-avatar.png', style='float: left')
			
			div#profile-inset
			div#profile-info
				if profileUser.name
					h2.no-margin #{profileUser.name}
				else
					h2.no-margin #{profileUser.email}
				p <b>Email:</b> #{profileUser.email}
				if profileUser.description
					p <b>Location:</b> #{profileUser.location}
				else
					p <b>Location:</b> Unknown
				if profileUser.description
					p <b>Description:</b> #{profileUser.description}
				else
					p <b>Description:</b> <i>This user has no description.</i>
				
		
		div#profile-buttons
			if profileUser.id == user.id
				button#edit-profile(class="btn btn-default" onclick="toggleEdit();") Edit profile
			if user.admin
				button#delete-user(class="btn btn-default" onclick="") Delete profile
				if profileUser.admin
					button#de-admin(class="btn btn-default" onclick="") Revoke admin
				else
					button#make-admin(class="btn btn-default" onclick="") Make admin
		
		section#listings
			h3 #{profileUser.email}'s Listings
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
			div.listing
				a(href='')
					img(width='174', height='130', src='')
				a.listing-info(href='')
					h4.title derp
					p.desc abcd
					h4.price $19.95
	
	if profileUser.id == user.id
		div#shade(onclick="toggleEdit();")
		div#editor
			div.container-flexible
				div.col-md-12
					form#edit-profile-form(role="form", action="", method="post", enctype="multipart/form-data")
						div.form-group
							label(for="edit-name") Name:
							input#edit-name.form-control(type="text", name="name", value=user.name)
							
						div.form-group
							label(for="edit-location") Location:
							input#edit-location.form-control(type="text", name="location", value=user.location)
						
						label Display picture:
						div.input-group
							span.input-group-btn
								span.btn.btn-primary.btn-file Browse&hellip;
									input#edit-picture(type="file", name="picture")
							input.form-control(type="text", readonly)
						
						div.form-group
							label(for="edit-description") Description:
							textarea#edit-description.form-control(rows="5", name="description", value=user.description)
						
						button.btn.btn-default(type="submit") Submit
				
				
				div.col-md-7
					form#password-change-form.form-horizontal(role="form", action="/users/"+profileUser.id+"/changePwd", method="post")
						label#that-one-label Change your password:
						div.form-group
							label.control-label.col-sm-5(for="cur-pwd") Current password:
							div.col-sm-7
								input#cur-pwd.form-control(type="password", name="curPwd", required)
						
						div.form-group
							label.control-label.col-sm-5(for="new-pwd") New password:
							div.col-sm-7
								input#new-pwd.form-control(type="password", name="newPwd", required)
						
						div.form-group
							label.control-label.col-sm-5(for="confirm-pwd") Confirm password:
							div.col-sm-7
								input#confirm-pwd.form-control(type="password", name="confirmPwd", required)
						
						div.form-group
							div.col-sm-offset-5.col-sm-7
								button.btn.btn-default(type="submit") Submit
				
				div.col-md-1
				div.col-md-4 Or, 
					button.btn.btn-default(onclick="toggleEdit();") Cancel
			
